p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.header__container, .site-list, .site-nav__item > .auth-nav__link, .site-nav__item .link, .site-nav .link, .auth-nav,
.site-nav, .footer-center__link, .footer-box__title {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    display: flex;
    justify-content: space-between;
  }
}

.header__logo {
  margin-right: 93px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.curent {
  color: #2196f3;
}

.site-nav .link {
  color: #212121;
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
  align-items: center;
}

.site-nav {
  color: #212121;
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 1;
  transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu.is-hidden {
  left: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.menu-close-btn {
  margin-left: auto;
  display: block;
  margin-bottom: 13px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.menu-close-btn:hover, .menu-close-btn:focus {
  fill: #2196f3;
}

.mob-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav .link {
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-nav .link:hover, .mob-nav .link:focus {
  color: #2196f3;
}

.mob-nav .link.curent {
  color: #2196f3;
}

.mob-nav__item .mob-auth {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-auth {
  display: flex;
  flex-direction: column-reverse;
}

.mob-auth.link:focus, .mob-auth.link:hover {
  color: #2196f3;
}

.mob-auth__item:last-child {
  margin-bottom: 32px;
}

.mob-auth .link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-auth__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-auth__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-contact {
  margin-bottom: 64px;
}

.social {
  display: flex;
}

.social__link {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.social__item:not(:last-child) {
  margin-right: 20px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.menu-open-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.menu-open-btn:hover, .menu-open-btn:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.logo {
  font-family: Raleway, cursive;
  color: #2196f3;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
}

.logo-style {
  color: #212121;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__item:not(:last-child) {
    margin-right: 30px;
  }
}

.auth-nav {
  margin-left: auto;
}

.auth-nav.link:focus, .auth-nav.link:hover {
  color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.auth-nav .link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}

.auth-nav,
.site-nav {
  font-weight: 500;
  line-height: 1.14;
}

@media screen and (max-width: 767px) {
  .auth-nav,
  .site-nav {
    display: none;
  }
}

.auth-nav__mail-icon {
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav__contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav__link {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196f3;
}

.link.curent::after {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #2196f3;
  content: "";
  border-radius: 2px;
  bottom: -32px;
  left: 0;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .link.curent {
    position: relative;
  }
  .link.curent:hover::after, .link.curent:focus::after {
    opacity: 1;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.project {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .project {
    margin-bottom: 50px;
    padding-top: 94px;
  }
}

.item__button {
  color: #212121;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-radius: 4px;
  border: none transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item__button:hover, .item__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (min_width: 480px) {
  .item__button:hover, .item__button:focus {
    margin-bottom: 40px;
  }
}

.item {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .item {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .item {
    margin-bottom: 50px;
  }
}

.buttons:not(:last-child) {
  margin-right: 8px;
}

.buttons {
  margin-bottom: 15px;
}

.gallery {
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.gallery__item {
  margin: 30px;
}

@media screen and (min-width: 768px) {
  .gallery__item {
    margin: 15px;
    flex-basis: calc((100% - 15px * 4) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    flex-basis: calc((100% - 15px * 6) / 3);
    margin: 15px;
  }
}

.gallery__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.gallery__link:focus, .gallery__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__title {
  color: #212121;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery__text {
  color: #212121;
  font-size: 16px;
  line-height: 1.87;
}

.card-content {
  flex-grow: 1;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
}

.project-overlay {
  position: relative;
  overflow: hidden;
}

.gallery__overlay {
  position: absolute;
  display: flex;
  bottom: 0;
  color: #ffffff;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
}

.gallery__link .gallery__overlay :hover,
.gallery__link .gallery__overlay :focus {
  opacity: 1;
}

.link.gallery__link:hover .gallery__overlay,
.link.gallery__link:focus .gallery__overlay {
  transform: translateY(0%);
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .page-footer {
    text-align: center;
  }
}

.logo-styles {
  color: #ffffff;
}

.footer-list__item {
  margin-bottom: 9px;
}

.footer-list__item:last-child {
  margin-bottom: 0;
}

.footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .footer {
    margin-bottom: 60px;
  }
}

.footer .link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .link:hover, .footer .link:focus {
  color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .footer-box {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box {
    margin-left: 70px;
    margin-right: auto;
  }
}

@media screen and (min-width: 320px) {
  .page-footer > .container {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .page-footer > .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer > .container {
    display: flex;
    align-items: baseline;
  }
}

.footer-center {
  display: flex;
  align-items: center;
  justify-content: left;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .footer-center {
    justify-content: center;
  }
}

.footer-center__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  transition: backround-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-center__link:hover, .footer-center__link:focus {
  background-color: #2196f3;
}

.footer-box__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .footer-box__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer-center__item + .footer-center__item {
  margin-left: 10px;
}

.footer-center__link:hover,
.footer-center__icon,
.footer-center__link:focus,
.footer-center__icon {
  fill: #ffffff;
}

.footer-center__item {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.send-form {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 55px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form:focus, .send-form:hover {
  background-color: #188ce8;
}

.footer-form label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.spam-form input {
  width: 100%;
  height: 50px;
  background: #2f303a;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 16px;
}

@media screen and (max-width: 1199px) {
  .spam-form input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .spam-form input {
    width: 358px;
  }
}

.spam-form {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .spam-form {
    display: flex;
    justify-content: space-between;
  }
}

.spam-form::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
}

.footer-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  color: #ffffff;
  margin-left: 12px;
  padding: 10px;
}

.spam-form .footer-btn__icon {
  margin-left: 10px;
}
/*# sourceMappingURL=portfolio.css.map */