.mob-menu {
  position: fixed;
  background-color: $primary-white-color;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 15px;
}
.menu-close-btn {
  margin-left: auto;
  display: block;
  margin-bottom: 33px;
}
.mob-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: center;
  color: $primary-color;
}
.mob-nav__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-auth {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: center;
  color: $primary-color;
}
